

/* 
.about__container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
} */

/* .about__me {
    width: 100%;
    aspect-ratio: 1/0.9;
    border-radius: 2rem;
  height:80% ;
    background: url(../../assets/anku.jpg);
    
    background-position: center;
    background-size: cover;
    background-position-y: -100px;
     
    display: grid;
    place-items: center;
} */


.about__content p{
    margin: 2rem 0 2.6rem ;
    color: var(--color-light);
}


@media screen and (max-width:1024px) {
   .about__container{
    grid-template-columns: 1fr;
    gap: 0;
   }

   .about__me{
    width: 50%;
    margin: 2rem auto 4rem;
   }
.aboutimg{
    height:100%;
    width:100%
}
   .about__content p {
    margin: 1rem 0 1.5rem;
   }
}


@media screen and (max-width:600px) {
    .about__me{
        width: 65%;
        margin: 0 auto 3rem;
       }

 

       .about__content{
        text-align: center;
       }

       .about__content p{
        margin: 1.5rem 0;
       }
       .about__me{
        background-position-y: -70px;
       }
}

@media screen and (max-width:300px){
.about__content p{
    font-size: 0.9rem;
}
}
